@keyframes move-down {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  70% {
    transform: translateY(30%);
    opacity: 0.8; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes move-right {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  50% {
    transform: translateX(10%);
    opacity: 0.8; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes move-left {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  50% {
    transform: translateX(-10%);
    opacity: 0.8; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Roboto", sans-serif; }

ul {
  list-style: none; }

img {
  height: 100%;
  object-fit: cover; }

::selection {
  background-color: #38d9a9;
  color: white; }

.text {
  color: #495057; }

.heading {
  text-transform: capitalize; }

.h1 {
  word-spacing: 5px;
  line-height: 1.3;
  font-size: 5.61rem;
  font-weight: 700; }

.h2 {
  word-spacing: 5px;
  line-height: 1.2;
  font-size: 4.209rem;
  font-weight: 700; }

.h3 {
  word-spacing: 5px;
  line-height: 1.7;
  font-size: 1.777rem; }

.paragraph {
  font-size: 1.433rem; }

.container {
  padding: 5rem 0 8rem;
  max-width: 80%;
  margin: auto; }

.btn-controller {
  display: flex;
  align-items: center; }

.formcontroller {
  border: 1px solid #495057;
  padding: 0.75rem;
  position: relative;
  display: flex;
  align-items: center;
  margin: 1.777rem 0; }
  .formcontroller .input {
    height: 100%;
    padding-left: 1rem;
    border: none;
    outline: none;
    font: inherit;
    background-color: transparent; }
    .formcontroller .input::placeholder {
      opacity: 0; }
    .formcontroller .input:placeholder-shown + label {
      left: 26%;
      top: 50%;
      font-size: 1.6rem;
      color: #495057; }
  .formcontroller .label {
    position: absolute;
    top: -16%;
    left: 16%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: #7950f2;
    transition: all 0.35s; }

.p0 {
  padding: 0 !important; }

.p2 {
  min-height: 50vh;
  padding: 8rem 0; }

.btn,
.btn::after,
.btn::before {
  text-transform: capitalize;
  display: inline-block;
  padding: 1.333rem 2.369rem;
  cursor: pointer;
  border-radius: 0.75rem;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
  background-color: #7950f2;
  color: #f1f3f5;
  font-family: "Roboto", sans-serif;
  font-size: 1.333rem;
  font-weight: 500; }

.btn,
.btn:active,
.btn:focus {
  border: none;
  outline: none; }

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.5); }

.btn:active {
  transform: scale(1.03);
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.3); }

.btn-small {
  padding: 1rem 1.433rem;
  font-size: 1.333rem; }

.btn-big {
  padding: 1.777rem 3.157rem;
  font-size: 1.777rem; }

.link,
.link::after,
.link::before {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
  overflow: hidden;
  color: #495057;
  transition: all 0.35s; }

.link:hover {
  color: #7950f2; }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.75rem;
  padding: 2.369rem; }
  .card__heading {
    margin-top: 2.369rem; }
  .card__img {
    width: 8rem;
    height: 8rem;
    padding: 1.333rem;
    border-radius: 1rem; }

#features-section {
  background-color: #fff5f5; }

.features {
  display: flex;
  justify-content: center;
  align-items: center; }
  .features__left {
    width: 50%; }
    .features__left--img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30rem;
      padding: 1.777rem 0; }
  .features__right {
    width: 50%;
    padding: 1rem;
    position: relative; }
    .features__right--top {
      z-index: 10; }
      .features__right--top::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 150%;
        background-color: #fff;
        top: -25%;
        left: 0%;
        z-index: -1; }
  .features__list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .features__item {
    text-align: left;
    align-items: flex-start; }
    .features__item:nth-child(1) .features__item--img {
      background-color: #38d9a9; }
    .features__item:nth-child(2) .features__item--img {
      background-color: #7950f2; }

.budget {
  font-size: 1.333rem;
  text-transform: uppercase;
  position: absolute;
  top: -10%;
  left: 1rem; }

#footer {
  background-color: #f1f3f5; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize; }
  .footer__logo {
    width: 8rem;
    height: 8rem; }
  .footer__info {
    width: 20%;
    align-self: start; }
    .footer__info .paragraph {
      margin-bottom: 1.333rem; }
  .footer__social--list {
    display: flex;
    align-items: center; }
  .footer__social--item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fd7e14;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 0.35s;
    box-shadow: 0 1rem 1rem rgba(252, 196, 25, 0.3); }
    .footer__social--item:hover {
      background-color: #fd7e14; }
      .footer__social--item:hover i {
        color: white; }
    .footer__social--item:not(:last-child) {
      margin-right: 1.433rem; }
    .footer__social--item i {
      color: #fd7e14; }
  .footer__links {
    width: 80%; }
  .footer__nav {
    padding: 2rem; }
    .footer__nav--list {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .footer__nav--item {
      align-self: flex-start; }
    .footer__nav-link {
      font-weight: 700;
      font-size: 2rem; }
    .footer__nav a {
      margin: 0 !important; }

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .hero__heading span {
    display: block; }
  .hero__item {
    padding: 5.61rem 0; }
  .hero__left {
    animation: move-right 1s ease-in forwards; }
  .hero__right {
    text-align: right;
    animation: move-left 1s ease-in forwards; }
    .hero__right img {
      display: block;
      object-fit: cover;
      transform: scale(1.1); }
  .hero__paragraph {
    margin-top: 0.75rem; }
  .hero__btn--box {
    margin-top: 1.777rem; }

.header {
  padding: 1rem 0; }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 10vh;
    animation: move-down 1s ease-in forwards; }
    .header__nav--logo {
      width: 10rem;
      height: 5rem; }
    .header__nav--list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none; }
    .header__nav--item {
      text-transform: capitalize;
      transition: all 0.35s; }
    .header__nav--item:hover .header__nav--link::after {
      width: 140%; }
    .header__nav--item:hover .header__nav--link {
      color: #7950f2; }
    .header__nav--link::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0.3rem;
      background-color: #7950f2;
      bottom: -5%;
      left: -20%;
      transition: all 0.35s ease-in; }

.offers {
  display: flex;
  justify-content: center;
  align-items: center; }
  .offers-header {
    text-align: center;
    padding-top: 1.777rem;
    padding-bottom: 5.61rem; }
  .offers__left {
    width: 50%; }
    .offers__left--img {
      height: 60rem;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      background-color: #fff5f5;
      margin-right: 5rem;
      box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.3); }
  .offers__right {
    width: 50%; }
  .offers__item {
    padding: 3.157rem;
    border-left: 0.75rem solid;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.28s; }
    .offers__item:hover {
      transform: translateX(-1rem);
      border-width: 1rem; }
    .offers__item:nth-child(1) {
      border-color: #f76707; }
    .offers__item:nth-child(2) {
      border-color: #7950f2; }
    .offers__item:nth-child(3) {
      border-color: #37b24d; }
    .offers__item .h2 {
      margin-bottom: 1.333rem; }
    .offers__item:not(:last-child) {
      margin-bottom: 1.777rem; }

.progress__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-transform: capitalize; }

.progress__item {
  width: 25rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-align: center; }
  .progress__item,
  .progress__item > * {
    transition: all 0.35s; }
  .progress__item:not(:first-child) {
    cursor: pointer; }
    .progress__item:not(:first-child):hover {
      transform: scale(1.05) skew(-4deg); }
      .progress__item:not(:first-child):hover > * {
        transform: skew(4deg); }
  .progress__item:nth-child(1) {
    box-shadow: none;
    text-align: left; }
  .progress__item:nth-child(2) {
    background-color: #fff5f5; }
    .progress__item:nth-child(2) .progress__item--img {
      background-color: #fcc419; }
  .progress__item:nth-child(3) {
    background-color: #e3fafc; }
    .progress__item:nth-child(3) .progress__item--img {
      background-color: #7950f2; }
  .progress__item:nth-child(4) {
    background-color: #e6fcf5; }
    .progress__item:nth-child(4) .progress__item--img {
      background-color: #fd7e14; }

.signup {
  display: flex;
  justify-content: center;
  align-items: center; }
  .signup__left {
    width: 50%;
    padding-left: 5.61rem; }
    .signup__left .paragraph {
      margin-top: 0.75rem;
      margin-bottom: 2.369rem; }
  .signup__right {
    width: 50%; }
