@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin felx_center_horizontal {
  display: flex;
  justify-content: center;
}

@mixin felx_center_vertical {
  display: flex;
  align-items: center;
}
