// Font-family
$Roboto: "Roboto", sans-serif;

// Spacing
$spacing: (
  "Tiny": 0.75rem,
  "Small": 1rem,
  "Medium": 1.333rem,
  "Normal": 1.433rem,
  "Large": 1.777rem,
  "XLarge": 2.369rem,
  "XXLarge": 3.157rem,
  "XXXLarge": 4.209rem,
  "Big": 5.61rem,
  "Bigest": 7.478rem,
);

// Colors
$dark-gray-color: #495057;
$very-light-gray-color: #f1f3f5;

$dark-blue-color: #7950f2;
$light-blue-color: #e3fafc;
$lightst-blue-color: #e6fcf5;

$light-red-color: #fff5f5;

$dark-yellow-color: #fcc419;

$dark-orange-color: #fd7e14;
