#features-section {
  padding: map-get($spacing, "XXLarge") 0;
  margin-top: map-get($spacing, "Bigest");
  background-color: $light-red-color;
}

.features {
  @include flex_center;

  &__left {
    width: 50%;

    &--img {
      @include flex_center;
      height: 30rem;
    }
  }
  &__right {
    width: 50%;
    padding: map-get($spacing, "Small");
  }
  &__list {
    @include felx_center_vertical;
    justify-content: space-between;
  }

  &__item {
    text-align: left;
    align-items: flex-start;

    &:nth-child(1) {
      .features__item--img {
        background-color: $dark-green-color;
      }
    }
    &:nth-child(2) {
      .features__item--img {
        background-color: $dark-blue-color;
      }
    }
  }
}

.budget {
  font-size: map-get($spacing, "Medium");
}
