#features-section {
  background-color: $light-red-color;
}

.features {
  @include flex_center;

  &__left {
    width: 50%;

    &--img {
      @include flex_center;
      height: 30rem;
      padding: map-get($spacing, "Large") 0;
    }
  }
  &__right {
    width: 50%;
    padding: map-get($spacing, "Small");
    position: relative;

    &--top {
      z-index: 10;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 150%;
        background-color: #fff;
        top: -25%;
        left: 0%;
        z-index: -1;
      }
    }
  }
  &__list {
    @include felx_center_vertical;
    justify-content: space-between;
  }

  &__item {
    text-align: left;
    align-items: flex-start;

    &:nth-child(1) {
      .features__item--img {
        background-color: $dark-green-color;
      }
    }
    &:nth-child(2) {
      .features__item--img {
        background-color: $dark-blue-color;
      }
    }
  }
}

.budget {
  font-size: map-get($spacing, "Medium");
  text-transform: uppercase;
  position: absolute;
  top: -10%;
  left: 1rem;
}
