.features-section {
  background-color: #ccc;
  margin-top: map-get($spacing, "Bigest");
}

.features {
  @include flex_center;

  &__left {
    width: 50%;
    padding-right: map-get($spacing, "XLarge");
    text-align: center;
    img {
      width: 20rem;
      height: 40rem;
      margin-top: -5rem;
    }
  }
  &__right {
    width: 50%;
    background-color: #fff;
    transform: scale(1.1);
    margin-right: map-get($spacing, "XXLarge");
    padding: map-get($spacing, "Small");
    padding-right: map-get($spacing, "XLarge");
  }
  &__list {
    @include felx_center_vertical;
    justify-content: space-between;
  }

  &__item {
    text-align: left;
    align-items: flex-start;

    &:nth-child(1) {
      .features__item--img {
        background-color: $dark-green-color;
      }
    }
    &:nth-child(2) {
      .features__item--img {
        background-color: $dark-blue-color;
      }
    }
  }
}

.budget {
  font-size: map-get($spacing, "Medium");
}
