.hero {
  @include flex_center;

  &__heading {
    letter-spacing: -3px;
    word-spacing: 5px;
    line-height: 1.3;
    span {
      display: block;
    }
  }

  &__item {
    padding: map-get($spacing, "Big") 0;
  }

  &__left {
    width: 50%;
  }
  &__right {
    text-align: right;
    width: 50%;
  }

  &__paragraph {
    margin-top: map-get($spacing, "Tiny");
  }

  &__btn--box {
    margin-top: map-get($spacing, "Large");
  }
}
