.header {
  min-height: 100vh;

  &__nav {
    @include felx_center_vertical;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 6.4rem;
    animation: move-down 1s ease-in forwards;

    &--logo {
      width: 10rem;
      height: 5rem;
    }
    &--list {
      @include felx_center_vertical;
      justify-content: space-between;
      list-style: none;
    }

    &--item {
      text-transform: capitalize;
      transition: all 0.35s;
    }

    &--item:hover &--link::after {
      width: 140%;
    }
    &--item:hover &--link {
      color: $dark-blue-color;
    }

    &--link::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0.3rem;
      background-color: $dark-blue-color;
      bottom: -5%;
      left: -20%;
      transition: all 0.35s ease-in;
    }
  }
}
