#offers-section {
  padding: map-get($spacing, "Bigest") 0;
}

.offers {
  @include flex_center;

  &-header {
    text-align: center;
    padding-top: map-get($spacing, "Large");
    padding-bottom: map-get($spacing, "Big");
  }

  &__left {
    width: 50%;

    &--img {
      height: 60rem;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      background-color: $light-red-color;
      margin-right: 5rem;
      box-shadow: 0 1rem 1rem 0 rgba(#000, 0.3);
    }
  }
  &__right {
    width: 50%;
  }

  &__item {
    padding: map-get($spacing, "XXLarge");
    border-left: map-get($spacing, "Tiny") solid;
    border-radius: map-get($spacing, "Small");
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
    cursor: pointer;
    transition: all 0.28s;

    &:hover {
      transform: translateX(-1rem);
      border-width: map-get($spacing, "Small");
    }

    &:nth-child(1) {
      border-color: $orange-color;
    }
    &:nth-child(2) {
      border-color: $dark-blue-color;
    }
    &:nth-child(3) {
      border-color: $green-color;
    }

    .h2 {
      margin-bottom: map-get($spacing, "Medium");
    }

    &:not(:last-child) {
      margin-bottom: map-get($spacing, "Large");
    }
  }
}
