#progress {
  padding: map-get($spacing, "XXXLarge") 0;
}

.progress {
  &__list {
    @include felx_center_vertical;
    justify-content: space-between;
    list-style: none;
    text-transform: capitalize;
  }

  &__item {
    width: 25rem;
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
    text-align: center;

    &:nth-child(1) {
      box-shadow: none;
      text-align: left;
    }
    &:nth-child(2) {
      background-color: $light-red-color;
      .progress__item--img {
        background-color: $dark-yellow-color;
      }
    }
    &:nth-child(3) {
      background-color: $light-blue-color;
      .progress__item--img {
        background-color: $dark-blue-color;
      }
    }
    &:nth-child(4) {
      background-color: $lightst-blue-color;
      .progress__item--img {
        background-color: $dark-orange-color;
      }
    }
  }
}
