#signup {
  padding: map-get($spacing, "XXXLarge") 0;
}

.signup {
  @include flex_center;

  &__left {
    width: 50%;
    padding-left: map-get($spacing, "Big");

    .paragraph {
      margin-top: map-get($spacing, "Tiny");
      margin-bottom: map-get($spacing, "XLarge");
    }
  }

  &__right {
    width: 50%;
  }
}
