.text {
  color: $dark-gray-color;
}

.heading {
  text-transform: capitalize;
}

.h1 {
  word-spacing: 5px;
  line-height: 1.3;
  font : {
    size: map-get($spacing, "Big");
    weight: 700;
  }
}

.h2 {
  word-spacing: 5px;
  line-height: 1.2;
  font : {
    size: map-get($spacing, "XXXLarge");
    weight: 700;
  }
}
.h3 {
  word-spacing: 5px;
  line-height: 1.7;
  font : {
    size: map-get($spacing, "Large");
  }
}

.paragraph {
  font-size: map-get($spacing, "Normal");
}
