.card {
  @include flex_center;
  flex-direction: column;
  border-radius: map-get($spacing, "Tiny");
  padding: map-get($spacing, "XLarge");

  &__heading {
    margin-top: map-get($spacing, "XLarge");
  }

  &__img {
    width: 8rem;
    height: 8rem;
    padding: map-get($spacing, "Medium");
    border-radius: map-get($spacing, "Small");
  }
}
