.link,
.link::after,
.link::before {
  position: relative;
  display: inline-block;
  margin: 0 map-get($spacing, "Small");
  text-decoration: none;
  overflow: hidden;
  color: $dark-gray-color;
  transition: all 0.35s;
}
